
<h1>Vagas</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td><%= link_to vaga.descricao, vaga %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova vaga', new_vaga_path %> |
<%= link_to 'Overview', overview_path %>
